.navbar {
  background-color: #333;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar__body {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  max-width: var(--width-max-body);
  flex-wrap: wrap;
}

.navbar a:hover {
  color: #f39c12;
}

.navbar .active {
  color: #f39c12;
}