/* Contiene estilos globales que afectan a toda la aplicación. */

/* Variables */
:root {
  --primary-color: #ffffff;
  --secondary-color: #2c3e50;
  --alternative-color: #3498db;
  --width-max-body: 1280px;
}